#create requirements.txt file

Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.4
Flask-Migrate==2.5.3
supabase==2.15.0
python-dotenv==0.17.0
Flask==2.3.3
Jinja2==3.1.2
Flask-Login==0.6.2
Werkzeug==2.3.7
pdfkit==1.0.0
requests==2.31.0



# Install the dependencies
