{% extends "stock/stock_base.html" %}

{% block content %}
<div class="container-fluid mt-4">
    <!-- Summary Cards Row -->
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Treated Stock</h5>
                    <p class="card-text">Total Entries: {{ treated_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Untreated Stock</h5>
                    <p class="card-text">Total Entries: {{ untreated_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Unsorted Stock</h5>
                    <p class="card-text">Total Quantity: {{ unsorted_sum }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Stock Details Row -->
    <div class="row">
        <!-- Treated Stock -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5>Treated Stock Summary</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <tbody>
                                <tr><td>Fencing Poles</td><td>{{ treated_sums['fencing_poles'] }}</td></tr>
                                <tr><td>Timber</td><td>{{ treated_sums['timber'] }}</td></tr>
                                <tr><td>Rafters</td><td>{{ treated_sums['rafters'] }}</td></tr>
                                <tr><td>7m Poles</td><td>{{ treated_sums['7m'] }}</td></tr>
                                <tr><td>8m Poles</td><td>{{ treated_sums['8m'] }}</td></tr>
                                <tr><td>9m Poles</td><td>{{ treated_sums['9m'] }}</td></tr>
                                <tr><td>10m Poles</td><td>{{ treated_sums['10m'] }}</td></tr>
                                <tr><td>11m Poles</td><td>{{ treated_sums['11m'] }}</td></tr>
                                <tr><td>12m Poles</td><td>{{ treated_sums['12m'] }}</td></tr>
                                <tr><td>14m Poles</td><td>{{ treated_sums['14m'] }}</td></tr>
                                <tr><td>16m Poles</td><td>{{ treated_sums['16m'] }}</td></tr>
                                <tr><td>9m Telecom</td><td>{{ treated_sums['9m_telecom'] }}</td></tr>
                                <tr><td>10m Telecom</td><td>{{ treated_sums['10m_telecom'] }}</td></tr>
                                <tr><td>12m Telecom</td><td>{{ treated_sums['12m_telecom'] }}</td></tr>
                                <tr><td>Stubs</td><td>{{ treated_sums['stubs'] }}</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Untreated Stock -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5>Untreated Stock Summary</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <tbody>
                                <tr><td>Fencing Poles</td><td>{{ untreated_sums['fencing_poles'] }}</td></tr>
                                <tr><td>Timber</td><td>{{ untreated_sums['timber'] }}</td></tr>
                                <tr><td>Rafters</td><td>{{ untreated_sums['rafters'] }}</td></tr>
                                <tr><td>7m Poles</td><td>{{ untreated_sums['7m'] }}</td></tr>
                                <tr><td>8m Poles</td><td>{{ untreated_sums['8m'] }}</td></tr>
                                <tr><td>9m Poles</td><td>{{ untreated_sums['9m'] }}</td></tr>
                                <tr><td>10m Poles</td><td>{{ untreated_sums['10m'] }}</td></tr>
                                <tr><td>11m Poles</td><td>{{ untreated_sums['11m'] }}</td></tr>
                                <tr><td>12m Poles</td><td>{{ untreated_sums['12m'] }}</td></tr>
                                <tr><td>14m Poles</td><td>{{ untreated_sums['14m'] }}</td></tr>
                                <tr><td>16m Poles</td><td>{{ untreated_sums['16m'] }}</td></tr>
                                <tr><td>9m Telecom</td><td>{{ untreated_sums['9m_telecom'] }}</td></tr>
                                <tr><td>10m Telecom</td><td>{{ untreated_sums['10m_telecom'] }}</td></tr>
                                <tr><td>12m Telecom</td><td>{{ untreated_sums['12m_telecom'] }}</td></tr>
                                <tr><td>Stubs</td><td>{{ untreated_sums['stubs'] }}</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Recent Activities -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Recent Stock Activities</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for activity in recent_activities %}
                                <tr>
                                    <td>{{ activity.created_at}}</td>
                                    <td>{{ activity.description }}</td>
                                    <td>{{ activity.quantity }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}