 {% extends 'dashboard/base.html' %}
{% block title %}Payment Vouchers{% endblock %}
 
 {% block content%}

    <!--return client in the  payment vouchers table-->

    <div class="container mt-4">
      <h3>Payment Vouchers</h3>
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Voucher No.</th>
                  <th>Date</th>
                  <th>Paid To</th>
                  <th>Amount</th>
                  <th>Payment Method</th>
                  <th>Description</th>
              </tr>
          </thead>
          <tbody>
              {% for payment_vouchers in payment_vouchers %}
              <tr>
                  <td>{{ payment_vouchers.voucher_number }}</td>
                  <td>{{ payment_vouchers.date }}</td>
                  <td>{{ payment_vouchers.paid_to }}</td>
                  <td>{{ payment_vouchers.total_amount |int }}</td>
                  <td>{{ payment_vouchers.payment_method }}</td>
                  <td>{{ payment_vouchers.description }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
  {% endblock %}