{% extends "dashboard/base.html" %}
{% block content %}
<div class="container">
    <h1 class="text-xl font-bold mb-4">Treatment Log</h1>
    <table class="table-auto w-full border-collapse border border-gray-200">
        <thead>
            <tr class="bg-gray-100">
                <th class="px-4 py-2 border">Date</th>
                <th class="px-4 py-2 border">Cylinder No.</th>
                <th class="px-4 py-2 border">Liters Added</th>
                <th class="px-4 py-2 border">Kegs Added</th>
                <th class="px-4 py-2 border">Kegs Remaining</th>
                <th class="px-4 py-2 border">Strength %</th>
                <th class="px-4 py-2 border">Treatment For</th>
                <th class="px-4 py-2 border">rafters</th>
                <th class="px-4 py-2 border">Timber</th>
                <th class="px-4 py-2 border">Fencing poles</th>
                <th class="px-4 py-2 border">7m</th>
                <th class="px-4 py-2 border">8m</th>
                <th class="px-4 py-2 border">9m</th>

                <th class="px-4 py-2 border">9m Telecom</th>
                <th class="px-4 py-2 border">10m</th>
                <th class="px-4 py-2 border">10m Telecom</th>
                <th class="px-4 py-2 border">11m</th>
                <th class="px-4 py-2 border">12m</th>
                <th class="px-4 py-2 border">12m Telecom</th>
                <th class="px-4 py-2 border">14m</th>
                <th class="px-4 py-2 border">16m</th>
            </tr>
        </thead>
        <tbody id="treatmentTable">
            {% for treatment in treatments %}
            <tr class="hover:bg-gray-50">
                <td class="px-4 py-2 border">{{ treatment.date [:10] }}</td>
                <td class="px-4 py-2 border">{{ treatment.cylinder_no }}</td>
                <td class="px-4 py-2 border">{{ treatment.liters_added }}</td>
                <td class="px-4 py-2 border">{{ treatment.kegs_added }}</td>
                <td class="px-4 py-2 border">{{ treatment.kegs_remaining }}</td>
                <td class="px-4 py-2 border">{{ treatment.strength_percent }}</td>
                <td class="px-4 py-2 border">{{ treatment.treatment_for }}</td>
                <td class="px-4 py-2 border">{{ treatment.rafters }}</td>
                <td class="px-4 py-2 border">{{ treatment.timber }}</td>
                <td class="px-4 py-2 border">{{ treatment.fencing_poles }}</td>
                <td class="px-4 py-2 border">{{ treatment['7m'] }}</td>
                <td class="px-4 py-2 border">{{ treatment['8m'] }}</td>
                <td class="px-4 py-2 border">{{ treatment['9m'] }}</td>
                <td class="px-4 py-2 border">{{ treatment['9m_telecom'] }}</td>
                <td class="px-4 py-2 border">{{ treatment['10m'] }}</td>
                <td class="px-4 py-2 border">{{ treatment['10m_telecom'] }}</td>
                <td class="px-4 py-2 border">{{ treatment['11m'] }}</td>
                <td class="px-4 py-2 border">{{ treatment['12m'] }}</td>
                <td class="px-4 py-2 border">{{ treatment['12m_telecom'] }}</td>
                <td class="px-4 py-2 border">{{ treatment['14m'] }}</td>
                <td class="px-4 py-2 border">{{ treatment['16m'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mt-4 text-gray-500">Showing 1 to 0 of 0 entries</div>
</div>
{% endblock %}
